<div class="section-heading" [class.centered]="centered" [class.light]="light">
  <h2>{{ title }}.</h2>
  <div class="separator">
    <!-- SVGs matching reference site style -->
    <svg width="60" height="10" viewBox="0 0 60 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 5H55M55 5C55 7.76142 57.2386 10 60 10C62.7614 10 65 7.76142 65 5C65 2.23858 62.7614 0 60 0C57.2386 0 55 2.23858 55 5Z" [attr.stroke]="light ? '#d2c3aa' : '#9bc631'" stroke-width="2"/>
    </svg>
  </div>
</div>
